.footer {
  background: $gray-dark;
  height: 100px;
  color: $gray-lighter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
}

.footer .logo {
  padding-right: 30px;
    &:hover {
      color: $yellow;
    }
}
